body {
  font-family: 'Lato', sans-serif;
  color: #3C3C3C;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  cursor: pointer;
}

/* header */
.header {
  border-bottom: 1px solid #BDBDBD;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-link {
  padding: 10px 0;
}

.nav__list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  color: #3C3C3C;
  transition: color 0.2s ease-in-out;
}

.nav__link:hover {
  color: #18B5DC;
}

.header__btn {
  font-family: 'Lato', sans-serif;
  color: #3C3C3C;
  font-weight: normal;
  font-size: 18px;
  padding: 10px 19.5px;
  background-color: #fff;
  border: 1px solid #3C3C3C;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__btn:hover {
  background-color: #18B5DC;
  border: 1px solid #18B5DC;
  color: #fff;
}

/* main */
.main {
  padding: 150px 0;
  background: #F6F6F6;
}

.main__title {
  font-weight: 700;
  font-size: 34px;
  word-spacing: 7px;
  margin: 0;
  text-align: center;
}

.main__title::after {
  content: "";
  display: block;
  width: 45px;
  height: 4px;
  background-color: #DDDBDB;
  margin: 20px auto 0;
}

.main__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 40px auto 60px;
  max-width: 570px;
}

/* people cards */
.main__people-cards {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* card */
.card {
  position: relative;
  width: 271px;
  height: auto;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
  background-color: #18B5DC;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 4px;
}

/* social links */
.cards-social {
  display: inline-block;
  width: 42px;
  height: 42px;
  transition: background-image 0.2s ease-in-out;
}

.cards-social--twitter {
  background: url(img/twitter-card.svg);
}

.cards-social--twitter:hover {
  background-image: url(img/twitter-card-hover.svg);
}

.cards-social--facebook {
  background: url(img/facebook-card.svg);
}

.cards-social--facebook:hover {
  background-image: url(img/facebook-card-hover.svg);
}

.cards-social--instagram {
  background: url(img/instagram-card.svg);
}

.cards-social--instagram:hover {
  background-image: url(img/instagram-card-hover.svg);
}

/* people cards text */
.card__title {
  margin: 19px 0 0;
  font-weight: 700;
  font-size: 18px;
}

.card__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #646464;
}

/* footer */
.footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.nav__link--size {
  font-size: 18px;
}

/* footer social links */
.social-list--gap {
  gap: 10px;
}

.cards-social--twitter-footer {
  background: url(img/twitter.svg);
}

.cards-social--twitter-footer:hover {
  background-image: url(img/twitter-hover.svg);
}

.cards-social--facebook-footer {
  background: url(img/facebook.svg);
}

.cards-social--facebook-footer:hover {
  background-image: url(img/facebook-hover.svg);
}

.cards-social--instagram-footer {
  background: url(img/instagram.svg);
}

.cards-social--instagram-footer:hover {
  background-image: url(img/instagram-hover.svg);
}

.cards-social--linkedin-footer {
  background: url(img/linkedin.svg);
}

.cards-social--linkedin-footer:hover {
  background-image: url(img/linkedin-hover.svg);
}

.cards-social--telegram-footer {
  background: url(img/telegram.svg);
}

.cards-social--telegram-footer:hover {
  background-image: url(img/telegram-hover.svg);
}
